<% layout('layouts/boilerplate.ejs')%>

<div class="allProducts">
  <% for(let product of products){ %>
  <div class="singleProduct">
    <div class="title"><%= product.title %></div>
    <div class="description"><%= product.description %></div>
    <div class="price"><%= product.price %></div>
    <div class="image">
      <img src="<%= product.image %>" alt="" />
    </div>
    <div class="category"><%= product.category %></div>
  </div>
  <% } %>
</div>
